extends ./head.jade
block content
	body.barrels
		.container.padding-large.content-center
			h1.fancy-font.text-center.padding-bottom-large What would you like to do?
			a.text-center.block.large-button.sans-font.margin-medium.padding-large(href='/vote') Vote
			a.text-center.block.large-button.sans-font.margin-medium.padding-large(href='/search') Submit
			a.text-center.block.large-button.sans-font.margin-medium.padding-large(href='/results') View Results
