extends ./head.jade
block content
  body.barrels
    .container.padding-large.content-center
      h1.fancy-font.padding-bottom-large.text-center.padding-bottom-large Thanks for Voting!
      .text-center.sans-font
        a.large-button.inline-block.padding-large.margin-right-medium(href='/') Go Home
        a.large-button.inline-block.padding-large(href='/vote') Cast Another Vote