sans-font = 'Lato', sans-serif

html
	padding 0
	margin 0

body
	padding 0
	margin 0
	font-family sans-font

a
	text-decoration none
	color inherit
	
label
	font-size 20px

.fancy-font
	font-family 'Dancing Script', cursive

.sans-font
	font-family sans-font

.bold
	font-weight 700

.light
	font-weight 300

.text-center
	text-align center

.content-center
	margin auto

.inline-block
	display inline-block

.block
	display block
	
.relative
	position relative

.hidden
	display none

.small
	font-size 80%
	color rgb(75, 75, 75)

spacings = (small 1) (medium 5) (large 20)
directions = (top right bottom left)

for spacing in spacings
	.margin-{spacing[0]}
		margin spacing[1]
	.padding-{spacing[0]}
		padding spacing[1]
	for direction in directions
		.margin-{direction}-{spacing[0]}
			margin-{direction} spacing[1]
		.padding-{direction}-{spacing[0]}
			padding-{direction} spacing[1]

.container
	background-color rgba(250, 175, 250, 0.75)
	height auto
	min-height 100%

.error
	color rgb(225, 50, 50)
	position absolute
	bottom 0
	left 0
	right 0

purple-shape()
	border 1px solid rgb(250, 200, 250)
	border-radius 5px
	background-color rgba(250, 200, 250, 0.5)

.large-button
	width auto
	background none
	font-size 24px
	purple-shape()
	&:hover
		background-color rgba(250, 250, 250, 0.5)
	&:disabled
		background-color rgba(150, 150, 150, 0.5)
		&:hover
			background-color rgba(150, 150, 150, 0.5)
		

.large-input
	width 100%
	font-size 24px
	purple-shape()
	&:focus
		outline none
		background-color rgba(250, 250, 250, 0.5)
	
.custom-select-wrapper
	padding 20px
	purple-shape()
	&:focus
		background-color rgba(250, 250, 250, 0.5)
	select
		width 100%
		border none
		background none
		font-size 24px
		&:focus
			outline none
		option
			background-color rgb(250, 200, 250)
			width 100%

.barrels
	background-image url('/images/barrels.jpg')
	background-size cover

.wine-row
	purple-shape()
	width auto
	display flex
	justify-content space-between
	flex-wrap wrap
	cursor pointer
	&:hover
		background-color rgba(250, 250, 250, 0.5)

.flex-third
	flex 0 1 33%
	
